.titumain{
    display: block;
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Roboto", "Sans Serif";
    font-size: 1.7rem;
}

.titudos{
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
    font-size: 1.2rem;
    color: rgb(88, 85, 85);
    margin-left: 3rem;
    margin-bottom: 0px;
    margin-top: 2rem;
}

.titudos2{
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 25rem;
    text-align: center;
    font-family: "Roboto", "Sans Serif";
    font-size: 1.3rem;
    color: rgba(178, 10, 10, 0.886);
}
.botones{
    display: flex;
    display:inline;
    justify-content:space-between;
    align-items: center;
    position: relative;
    color: black;
    background: rgb(144, 40, 212);
    border-radius: 5px;
    margin-left : 2em;
    font-weight: 600;
    padding: 5px;
    box-shadow: 10px 5px 8px 0px rgba(0, 0, 0,.24);
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover{
        background-color: rgb(114, 127, 238);}
}
.btnNvaCot{
    display: flex;
    align-items: right;
    position:relative;
    justify-content: space-around;
    color: black;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px 15;
    font-weight: 600;
    padding: 3px;
    box-shadow: 10px 5px 8px 0px rgba(0, 0, 0,.24);
    margin-left : 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover{
        background-color: rgb(147, 5, 40)};
}

.ubic-form{
    position: relative;
    display: flex;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", "Sans Serif";
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin-left: 50px;
    margin-top: 10px;
}

.textoform{
    position: relative;
    display: flex;
    display: block;
    text-align: center;
    align-items:flex-end;
    justify-content: center;
    font-family: "Roboto", "Sans Serif";
    padding-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.d-flex{
    display: flex
    position center;
    justify-content: center;
    align-items: center;
}

.posicImg{
    display: flex;
    position:sticky;
}